HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### CUSTOM ###

/src/main/java/com/zw/zwaicodemother/EnvVarController.java
/src/MD/APP_COVER_UPLOAD.md
/src/main/resources/static/fengmian/app_cover_317231543124365312_04Rt3c8T.PNG
/src/main/resources/static/fengmian/app_cover_317231543124365312_bS54S32L.jpg
/src/main/resources/static/fengmian/app_cover_317231543124365312_gJdEWnGd.PNG
/src/main/resources/static/fengmian/app_cover_317231543124365312_J7mwmCAP.jpg
/src/main/resources/static/fengmian/app_cover_317231543124365312_n3rldrT1.jpg
/src/main/resources/static/fengmian/app_cover_317231543124365312_oZ3ms4ZO.jpg
/src/main/resources/static/fengmian/app_cover_317231543124365312_QmV7PxR0.PNG
/src/main/resources/static/fengmian/app_cover_317231543124365312_R09agQx4.PNG
/src/main/resources/static/fengmian/app_cover_317231543124365312_stMQSTVZ.jpg
/src/main/resources/static/fengmian/app_cover_317516163736850432_7lW9t0N9.PNG
/src/main/resources/static/fengmian/app_cover_317516163736850432_Q0kaNDUB.jpg
/src/main/resources/static/fengmian/app_cover_317534971000242176_Ne25Ct32.jpg
/src/main/resources/static/fengmian/app_cover_317534971000242176_xtGxnQYe.jpg
/src/main/resources/static/fengmian/app_cover_318240934418108416_mSulOOjM.jpg
/src/main/resources/static/fengmian/app_cover_318318472662269952_gkvIE5dm.jpg
/src/main/resources/static/fengmian/app_cover_318321621234008064_RkyuOM5I.jpg
/src/main/resources/static/fengmian/app_cover_318321621234008064_sl5AWiIH.jpg
/src/main/resources/static/fengmian/app_cover_320370380369485824_mov8jr6j.jpg
/src/main/resources/static/fengmian/app_cover_320384168330190848_Fpbx0QwM.jpg
/src/main/resources/static/fengmian/README.md
/src/main/resources/static/ping/avatar_88a6e3078c1542aabe7c483dde4105ee.jpg
/src/main/resources/static/ping/avatar_b5e54342f57b4475b00d3bd1029e38d1.jpg
/src/main/resources/static/ping/avatar_bd04e8021f2b4efa9141bea18d4b2357.jpg
/.codebuddy/.rules/my-rule.mdc
/.codebuddy/analysis-summary.json
/src/MD/ChatHistory模块后端开发.md
/src/MD/ChatHistory模块开发文档.md
/zw-ai-code-mother-frontend/src/md/component-optimization.md
/zw-ai-code-mother-frontend/应用对话页面优化与对话管理功能开发.md
!/zw-ai-code-mother-frontend/src/pages/admin/ChatHistoryManagePage.md
/zw-ai-code-mother-frontend/docs/下载代码功能说明.md
/zw-ai-code-mother-frontend/docs/生成类型展示功能说明.md
/zw-ai-code-mother-frontend/docs/
/zw-ai-code-mother-frontend/.codebuddy/.ignored_image/d352070fb8e67ab552c4f2a373da15d0.png
